@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
* { margin: 0; padding: 0; }

body { background-color: #30054d !important; }

.navbar { padding: 2rem 0 !important; }

.navbar-brand { margin-left: 3rem !important; }

.navbar-nav li { padding: 0 0.625rem !important; }

.navbar-nav li a { color: black !important; text-transform: uppercase !important; font-weight: 37.5rem; }

.navbar-nav li a:hover { color: blue !important; font-weight: bold !important; }

main { margin-top: 3.5rem; background-color: #30054d !important; }

#cards { margin-top: 6.5rem; }

#cards h1 { text-align: center; color: #fff; padding: 90px 0px; }

#cards p { text-align: center; color: #fff; margin-top: 0.2rem !important; }

.container { margin-top: 3.5rem; }

.container .glass { margin-top: 5.5rem; }

.glass { background-image: linear-gradient(140deg, rgba(255, 255, 255, 0.27), rgba(255, 255, 255, 0.08)) !important; backdrop-filter: blur(15px); border-radius: 29px; height: 60vh; border: 1px solid black; }

p.first { margin-top: 5rem !important; }

button { border-radius: 10px 0px 10px 0px !important; }

.btn { position: absolute; bottom: 20px; right: 100px; font-size: 1rem !important; }

footer { background: #64069e !important; }

footer .row .column { display: flex; justify-content: center; align-items: center; }

footer .img-fluid { height: 20vh; }

@media (max-width: 1200px) { .btn { right: 75px; height: auto; } }

@media (max-width: 992px) { .btn { right: 53px; height: auto; }
  .glass { height: 50vh !important; } }

@media (max-width: 767px) and (min-width: 490px) { .btn { right: 25px; position: fixed; height: auto; } }

@media (max-width: 489px) and (min-width: 360px) { .btn { right: 20px; height: auto; font-size: 0.3rem !important; } }

@media (max-width: 359px) and (min-width: 210px) { .btn { right: 10px; font-size: 0.2rem !important; } }
