@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
.navbar { padding: 1.5rem 0 !important; }

.navbar-brand { margin-left: 3rem !important; }

.navbar-nav li { padding: 0 0.625rem !important; }

.navbar-nav li a { color: var(--a-color) !important; text-transform: uppercase !important; font-weight: 37.5rem; }

.navbar-nav li a:hover { color: var(--a-hover) !important; font-weight: bold !important; }

* { font-family: "Open Sans"; }

h1, h2, h3, h4, h5, h6 { font-family: "Raleway"; }

main { margin-top: 84px; }

html { --text-color: rgba(255, 0, 15, 0.63); --background-color: #E5E5E5; --a-color: black; --a-hover: blue; --work-background: linear-gradient(179.71deg, rgba(255, 220, 38, 0.36) 2.25%, rgba(241, 206, 21, 0) 99.77%); --p-color: #4A1E08; --card-background: linear-gradient(163.6deg, rgba(255, 238, 0, 0.48) 5.16%, rgba(255, 124, 7, 0.536) 27.61%, rgba(255, 0, 15, 0.496) 63.67%, rgba(193, 26, 187, 0.504) 98.46%); --footer-background: rgba(255, 238, 0, 0.55); }

body { background-color: var(--background-color); }

#container { text-align: center; display: flex; justify-content: center; align-items: center; height: 100vh; }

#container h1 { font-size: 2.5rem; }

.work { box-sizing: border-box; background: var(--work-background); border-radius: 29px; text-align: center; width: 100%; padding-top: 5rem; }

.work h1 { color: var(--text-color); text-align: justify; font-weight: bold; }

.work p { color: var(--p-color); text-align: justify; margin-top: 3rem; }

#service { text-align: center; margin: 5rem; color: var(--text-color); font-weight: 800; }

#cards-group .card-deck { padding: 2rem 10rem; }

@media only screen and (max-width: 1100px) { #cards-group .card-deck { padding: 1rem 4rem; } }

@media only screen and (max-width: 720px) { #cards-group .card-deck { padding: 0; display: block; } }

.btn-custom { border-radius: 0 10px 0 10px; border-width: 2px; border-style: solid; border-color: #fff; color: #fff; }

.btn-custom:hover { background-color: #fff; color: #333; }

.card { min-height: 70vh; border-radius: 29px; background: var(--card-background); box-shadow: 0; border: 0; }

.card .card-body .card-title { text-align: center; color: var(--text-color); font-weight: 800; }

.card .card-footer { background-color: transparent; border: 0; text-align: center; }

footer { background: var(--footer-background); }

footer .row .column { display: flex; justify-content: center; align-items: center; }

footer .img-fluid { height: 20vh; }
