@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
html { --text-color: #333; --primary-color: #fff; --secondary-color: #ddd; --variant-one: #2f2f2f; --variant-two: #90ee02; --variant-three: #42A5F5; font-size: 10px; }

html.dark { --text-color: #fff; --primary-color: #333; --secondary-color: #262626; --variant-one: #2f2f2f; --variant-two: #90ee02; --variant-three: #42A5F5; }

* { font-family: "Open Sans"; font-weight: 300; }

body { background-color: var(--secondary-color); color: var(--text-color); transition: .3s ease-in-out background-color; }

h1, h2, h3, h4, h5, h6 { font-family: "Raleway"; font-weight: 100; }

button, a, input, textarea { outline: none !important; cursor: pointer; font-family: "Open Sans"; font-weight: 300 !important; }

div:not(.alert):not(.carousel-caption), p, span, header, label { font-family: "Open Sans"; color: var(--text-color); }

nav { background-color: var(--primary-color); transition: .1s ease-in-out background-color; }

nav li a { color: var(--text-color); text-align: center; }

nav .navbar-brand { margin: 0; }

footer { height: 100%; width: 100%; border-top: 1px rgba(0, 0, 0, 0.3) solid; background-color: var(--variant-one) !important; margin: 3rem 0 0 0 !important; position: relative; }

footer a { color: #fff !important; opacity: 0.4; text-decoration: none !important; }

footer a:hover { opacity: 1; }

footer a:focus { color: inherit !important; }

footer ul { list-style-type: none; }

footer p, footer div, footer span { color: #fff !important; }

footer #copyright { padding-top: 3rem; }

textarea { resize: none; height: 15rem !important; }

.parallax-container { min-height: 70vh; display: flex; justify-content: center; align-items: center; }

.parallax-container .parallax { width: 100%; }

.top_banner { height: 64px; width: 100%; position: relative; }

.studio_def { border-width: .025px 0; border-style: solid; margin-top: 5rem; padding: 3rem 0; }

.form-group { text-align: left; }

.social_links { color: var(--text-color); }

.social_links i { font-size: 3rem; transition: .1s ease-in; }

.social_links .fa-facebook-official:hover { color: #3b5998; }

.social_links .fa-instagram:hover { color: #8134af; }

.social_links .fa-twitter-square:hover { color: #08a0e9; }

.social_links .fa-github-square:hover { color: #000; }

.social_links .fa-youtube-play:hover { color: #e62117; }
