@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
html { --text-color: #333; --primary-color: #fff; --secondary-color: #ddd; --variant-one: #2f2f2f; --variant-two: #90ee02; --variant-three: #42A5F5; }

html.dark { --text-color: #fff; --primary-color: #333; --secondary-color: #262626; --variant-one: #2f2f2f; --variant-two: #90ee02; --variant-three: #42A5F5; }

* { font-family: "Open Sans"; font-weight: 300; }

h1, h2, h3, h4, h5, h6 { font-family: "Raleway"; font-weight: 100; }

.switch.theme { text-align: center; transform: translateY(5px); }

.switch.theme .lever.theme { align-self: center; }

.switch.theme label { display: inline-flex; align-content: center; justify-content: center; color: #333; }

.sidenav-trigger { color: var(--variant-three); }

body { background-color: var(--secondary-color); color: var(--text-color); transition: .3s ease-in-out background-color; }

.switch.theme input[type=checkbox] + .lever, .switch.theme input[type=checkbox]:checked + .lever { background-color: rgba(0, 0, 0, 0.15); }

.switch.theme input[type=checkbox]:checked + .lever:after { background-color: var(--variant-one); }

nav, .sidenav { background-color: var(--primary-color); transition: .1s ease-in-out background-color; }

nav li a, .sidenav li a { color: var(--text-color); }

.input-field .helper-text, .input-field input, .input-field textarea { color: var(--text-color); }

.page-footer { background-color: var(--variant-three); }

.parallax-container { min-height: 50vh; }
