* {
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  min-height: 100%;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  overflow: hidden;
  max-width: 100%;
}

.container .navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 0.625rem;
  list-style: none;
}

.container .navbar .logo {
  align-items: left;
  margin-left: 2rem;
}

.container .navbar nav {
  flex: 1;
  text-align: right;
}

.container .navbar nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 1.875rem;
}

.container .navbar nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.container .navbar nav ul li a:hover {
  color: magenta;
}

.body {
  margin: 10rem;
  box-sizing: border-box;
  text-align: center;
}

.body .section1 p {
  font-size: 4rem;
  font-weight: bold;
  background: linear-gradient(to right, #ffa726 40%, rgba(255, 0, 15, 0.63) 63%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.work {
  box-sizing: border-box;
  background: linear-gradient(179.71deg, rgba(255, 220, 38, 0.36) 2.25%, rgba(241, 206, 21, 0) 99.77%);
  border-radius: 29px;
  text-align: center;
  width: 100%;
}

.work h1 {
  color: rgba(255, 0, 15, 0.63);
  text-align: left;
  margin-left: 10rem;
  margin-top: 5rem;
  font-weight: bold;
}

.work p {
  color: #4A1E08;
  text-align: justify;
  margin-left: 10rem;
  margin-top: 3rem;
  width: 40rem;
}
