$body-color: white;
// $glassColor: linear-gradient(140deg, rgba(255, 255, 255, 0.27), rgba(255, 255, 255, 0.08));
$glassColor: linear-gradient(163.6deg, rgba(255, 238, 0, 0.48) 5.16%, rgba(255, 124, 7, 0.536) 27.61%, rgba(255, 0, 15, 0.496) 63.67%, rgba(193, 26, 187, 0.504) 98.46%);
$text-color: rgba(255, 0, 15, 0.63);
$background-color: #30054d;
$a-color: black;
$a-hover: blue;
$text-color: rgba($color: #ff000f, $alpha: 0.63);
$background-color1: #E5E5E5;
$a-color: black;
$a-hover : blue;
$work-background : linear-gradient(179.71deg, rgba(255, 220, 38, 0.36) 2.25%, rgba(241, 206, 21, 0) 99.77%);
$p-color : #4A1E08;
$footer-background : rgba(255, 238, 0, 0.55);
$features-text: rgba(193, 26, 187, 1);
