// Imports
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

// Variable

$primary_font: 'Raleway';
$secondary_font: 'Open Sans';
$monospace: 'Cutive Mono';