@import "./common";

$enable-responsive-font-sizes: true;
$enable-gradients: true;
main {
    margin-top: 3.5rem;
    background-color: $background-color !important;
}

p.first {
    margin-top: 5rem !important;
}
.btn{
    color: #fff;
    border: 1px solid #fff;
    border-radius: 15px 0px 15px 0px  !important;
    width: 100px;
    text-align: center !important;
}
