@import './common';

html{
    --text-color: rgba($color: #ff000f,$alpha: 0.63);
    --background-color: #E5E5E5;
    --a-color: black;
    --a-hover : blue;
    --work-background : linear-gradient(179.71deg, rgba(255, 220, 38, 0.36) 2.25%, rgba(241, 206, 21, 0) 99.77%);
    --p-color : #4A1E08 ;
    --card-background : linear-gradient(163.6deg, rgba(255, 238, 0, 0.48) 5.16%, rgba(255, 124, 7, 0.536) 27.61%, rgba(255, 0, 15, 0.496) 63.67%, rgba(193, 26, 187, 0.504) 98.46%);
    --footer-background : rgba(255, 238, 0, 0.55);

}
body{
    background-color: var(--background-color);
}
#container{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    h1{
        font-size: 2.5rem;
    }
}
.work {
    box-sizing: border-box;
    background: var(--work-background);
    border-radius: 29px;
    text-align: center;
    width: 100%;
    padding-top: 5rem;

    h1 {
        color: var(--text-color);
        text-align: justify;
        font-weight: bold;

    }

    p {
        color: var(--p-color);
        text-align: justify;
        margin-top: 3rem;
        
    }
}

#service{
    text-align: center;
    margin: 5rem;
    color: var(--text-color);
    font-weight: 800;
}

#cards-group{

    .card-deck {
        padding: 2rem 10rem;
        @media only screen and (max-width: 1100px) {
            & {
                padding: 1rem 4rem;
            }
        }
        @media only screen and (max-width: 720px) {
            & {
                padding: 0;
                display: block;
            }
        }
    }
    
}

.btn-custom {
    // background-color: #4A1E08;
    border: {
        radius: 0 10px 0 10px;
        width: 2px;
        style: solid;
        color: #fff;
    };
    color: #fff;
    &:hover {
        background-color: #fff;
        color: #333;
    }
}
.card {
    min-height: 70vh;
    border-radius: 29px;
    background: var(--card-background);
    // box-shadow: 5px 5px 10px rgba($color: #000, $alpha: .3);
    box-shadow: 0;
    border: 0;

    .card-body{
        .card-title{
            text-align: center;
            color: var(--text-color);
            font-weight: 800;
        }
    }
    .card-footer {
        background-color: transparent;
        border: 0;
        text-align: center;
    }
} 

footer{
    .row{
        .column{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    background: var(--footer-background);
    .img-fluid{
        height: 20vh;
    }
    
}