@import './common';
.text {
  border: 2px solid #fff;
  border-radius: 12px;
  margin: 15px 0px;
  padding: 12px 8px;
  justify-content: center;
}
input,
textarea {
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
}
.btn {
  display: block;
  color: #FFF !important;
  cursor: pointer;
  margin-top: 30px;
  margin-left: 472px;
  width: 170px;
  font-size: 20px;
  border: 2px solid #fff !important;
  border-radius: 15px 0px 15px 0px !important;
  box-sizing: border-box;
}
