@import '_fonts.scss';
// Variables

// Light theme
html {
    --text-color: #333;
    --primary-color: #fff;
    --secondary-color: #ddd;
    --variant-one: #2f2f2f;
    --variant-two: #90ee02;
    --variant-three: #42A5F5;
}
html.dark {
    --text-color: #fff;
    --primary-color: #333;
    --secondary-color: #262626;
    --variant-one: #2f2f2f;
    --variant-two: #90ee02;
    --variant-three: #42A5F5;
}

* {
    font-family: $secondary_font;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $primary_font;
    font-weight: 100
}

.switch.theme {
    text-align: center;
    transform: translateY(5px);
    .lever.theme {
        align-self: center
    }
    label {
        display: inline-flex;
        align-content: center;
        justify-content: center;
        color: #333
    }
}
.sidenav-trigger {
    color: var(--variant-three)
}
body {
    background-color: var(--secondary-color);
    color: var(--text-color);
    transition: .3s ease-in-out background-color;
}
.switch.theme input[type=checkbox] + .lever, .switch.theme input[type=checkbox]:checked + .lever {
    background-color: rgba(0,0,0,0.15);
}
.switch.theme input[type=checkbox]:checked + .lever:after {
    background-color: var(--variant-one);
}
nav, .sidenav {
    background-color: var(--primary-color);
    transition: .1s ease-in-out background-color;
    li a {
        color: var(--text-color);
    }
}
nav {
    position: fixed;
    z-index: 1000
}
.input-field {
    .helper-text, input, textarea {
        color: var(--text-color);
    }
}
.btn, .btn:hover, .btn:active, .btn:focus {
    background-color: var(--variant-three);
    color: #fff
}
.page-footer {
    background-color: var(--variant-one);
}
.parallax-container {
    min-height: 70vh;
}
.top_banner {
    height: 64px;
    width: 100%;
    position: relative;
}
.studio_def {
    border-width: .025px 0;
    border-style: solid;
    margin-top: 5rem
}
blockquote {
    border-left-color: var(--text-color)
}
.social_links {
    padding: 2rem;
    color: var(--text-color);
    i {
        font-size: 3rem;
        transition: .1s ease-in
    }
    .fa-facebook-official:hover {
        color: #3b5998
    }
    .fa-instagram:hover {
        color: #8134af
    }
    .fa-twitter-square:hover {
        color: #08a0e9
    }
    .fa-github-square:hover {
        color: #000
    }
    .fa-youtube-play:hover {
        color: #e62117
    }
}