@import './common';

body{
    background-color: $background-color1;
}
  
  .card {
      border-radius: 2rem !important;
      border: 1px solid black !important;

  }
  
  .abtteam {
    padding: 10px;
    height: 250px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    border-radius: 23px;
  }
 
